* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Sans-serif;
  color:#B22945;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F7EDD2;
 
}

