* {
  box-sizing: border-box;
}

body {
  font-family: Courier, Arial, Sans-serif;
  color:#B22945;
  background-image: url(../img/background.jpg);
  background-size: 90%;
  background-color: #F7EDD2;
}

li{
  list-style-type: none; /*Removes bullet points*/
  float:left; /*Moves div to next row if the window is too narrow*/
  background:#F7EDD2; border:2px #B22945 solid; /*For demo*/
}

.frame{
  float: left;
  width: 7em;
  height: 7em;
  background:#F7EDD2; border:2px #B22945 solid;
}

.first-roll{
  width: 3em;
  height: 3em;
  font-size: 12px;
  background:#FFFFFF; border:2px #B22945 solid;
  float: right;
}

.second-roll{
  width: 3em;
  height: 3em;
  font-size: 12px;
  background:#FFFFFF; border:2px #B22945 solid;
  float: right;
}

.score{
  font-size: 3em;
  font-family: Courier, Arial, Sans-serif;
}
